main{
    min-height: calc(100vh - 100px);
}
footer{
    height: 40px;
}
.registration{
    height: 600px;
}
.open .nav-logout-popup{
    bottom: 0;
    left: calc(50% - 80px);
}
.project-icon img{
    max-height: 80px;
}
.footer-card-icon img{
    max-height: 45px;
    padding: 0 10px;
}
.skills-card img{
    max-height: 40px;
}
.card-header{
    cursor: pointer;
}
.card-body{
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}
.card-body.open{
    max-height: 10000px;
    transition: max-height 0.3s ease-in;
}
.card-header{
    border-bottom: none;
}
.card-header.open{
    border-bottom: 1px solid rgba(255,255,255,.2);
}
.card-header:hover{
    background-color: rgba(255, 255, 255, 0.103);
}

.main-content{
    position: relative;
    padding-top: 80px;
}

/* NAVBAR STYLES */

.header{
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    backdrop-filter:blur(0.2rem);
    border-bottom: 1px rgba(255, 255, 255, 0.15) solid;
}
.navbar-box{
    position: relative;
}
.mobile .open.navbar, 
.open-auth.navbar{
    background-color: rgba(0, 0, 0, 0.400);
    transition: background-color 1s ease-out;
}
.navbar-nav{
    min-height: 40px;
    opacity: 1;
    transition: max-height 0.4s ease-out, padding 0.7s ease-out;
}
.mobile .navbar-nav{
    max-height: 0px;
    overflow: hidden;
}
.open .navbar-nav{
    max-height: 1000px;
    overflow: hidden;
    opacity: 1;
    transition: max-height 0.5s ease-in, padding 0.7s ease-out, justify-content 2s ease-in;
    padding-top: 0 !important;
    padding-bottom: 10px !important;
}
.open-auth .navbar-nav{
    padding-top: 0 !important;
    padding-bottom: 0px !important;
    align-items: flex-start !important;
}
.mobile .navbar-nav{
    padding-top: 0 !important;
    padding-bottom: 0px !important;
    flex-direction: column !important;
    align-items: center !important;
}

.open .navbar-nav{
    padding-top: 0 !important;
    padding-bottom: 10px !important;
    align-items: center !important;
}
.open-auth .nav-logout-popup .logout-form .btn{
    opacity: 1;
    z-index: 100;
    transition: opacity 0.7s linear;
}
.mobile .navbar-nav .nav-link-active-order{
    order: -1;
}
.nav-logout-popup .logout-form .btn{
    opacity: 0;
    z-index: -100;
    transition: opacity 0.5s linear;
}
.nav-burger-menu{
    position: absolute;
    bottom: 0px;
    left:11px;
}
.open .nav-burger-menu{
    bottom: 0px;
    left:11px;
}
.nav-login{
    position: absolute;
    bottom: 2px;
    right: 0px;
    cursor: pointer;
}
.mobile .nav-login{
    bottom: 0.5px;
}
.mobile .nav-login{
    right: 6px;
}
.nav-login-user_name{
    transition: opacity 0.1s ease-in;
    z-index: -100;
    opacity: 0;
    position: absolute;
}
.open-auth .nav-login-user_name{
    opacity: 1;
    transition: opacity 1s ease-out;
    margin-bottom: 7px;
    position: static;
}
.nav-login-popup, 
.nav-logout-popup{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.6s ease-out;
}
.open-auth .nav-login-popup, 
.open-auth .nav-logout-popup{
    max-height: 1000px;
    transition: max-height 0.5s ease-out;
}
.nav-burger-menu img, .nav-login img{
    height: 30px;
    width: auto;
}
.text-primary-trans{
    --bs-text-opacity: 1;
    color: #e83284c4!important; 
}
.nav-link.hover-primary:hover{
    --bs-text-opacity: 1;
    color: rgba(var(--bs-primary-rgb),var(--bs-text-opacity))!important;
}
.nav-link.hover-primary-trans:hover{
    --bs-text-opacity: 1;
    color: #e83284c4!important;
}
.nav-link.hover-info:hover{
    --bs-text-opacity: 1;
    color: rgba(var(--bs-info-rgb),var(--bs-text-opacity))!important;
}
.nav-link.hover-success:hover{
    --bs-text-opacity: 1;
    color: rgba(var(--bs-success-rgb),var(--bs-text-opacity))!important;
}


/* CARDS STYLES */

.card-skill-level .btn{
    width: 30px;
    height: 20px;
    border-radius: 5px;
}
.card-open-state::after{
    content:'>';
    position: absolute;
    padding: 0 10px;
    color: white;
    font-weight: 400;
    transform: rotate(90deg);
    transition: transform 0.2s ease-out;
}
.open .card-open-state::after{
    transform: rotate(270deg);
}

/* ALERT STYLES */

.alert-box{
    position: relative;
    margin-right: auto;
    margin-left: auto;

}
.alert-box .alert-close{
    position: absolute;
    top: 0;
    right: 8px;
    cursor: pointer;
}
/* 
.alert-text{
    border-bottom: 1px solid rgba(255,255,255,.2);
} */

.remove-btn{
    cursor: pointer;
}

.contact-icons img{
    height: 35px;
}